.App {
  text-align: center;
  background-color: darkred;
  color: white;
  margin: 0;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}


p {
  text-align: left;
}
#box-details {
  width: 50%;
  height: 50%;
  text-align: left;
}

.center {
  text-align: center;
  margin: 150px 0px 0px 300px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
