.App {
  text-align: center;
  background-color: darkred;
  color: white;
  margin: 0;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}


p {
  text-align: left;
}
#box-details {
  width: 50%;
  height: 50%;
  text-align: left;
}

img {
  border-radius: 10%;
  margin-bottom: 30px;
}

.center {
  display:flex;
  text-align: center;
  margin: 70px 0px 0px 300px;
}

.block {
display: block;
margin-right: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
